<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1" />
<link rel="shortcut icon" href="/css/favicon.ico">
<title><%= typeof title != 'undefined' ? title : 'IoT-Panel' %></title>
<!-- include the stylesheet file -->
<link href="/css/buttons/hearthstone-button.css" rel="stylesheet" type="text/css" />
<link href="/css/fonts-draconis.css" rel="stylesheet" type="text/css" />
<link href="/css/tailwind.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />

</head>